.App {
  text-align: center;
}

.App-logo{
  width: 8vw;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.btn-group-xs>.btn, .btn-xs {
    --bs-btn-padding-y: 0.18rem;
    --bs-btn-padding-x: 0.3rem;
    --bs-btn-font-size: 0.6rem;
    --bs-btn-border-radius: var(--bs-border-radius-sm);
}
